.custom-scrollbar_container {
    position: relative;
    .content {
        height: 100%;
        overflow: hidden;
    }
    .scrollbar {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 5px;
        .track {
            height: 100%;
            width: 100%;
            border-radius: 2px;
            cursor: pointer;
            background: #ffffff1f;
        }
        .thumb {
            position: absolute;
            width: 100%;
            border-radius: 2px;
            background: #ffffffbf;
        }
    }
}