.home {
    .social-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        text-decoration: none;
        font-size: 26px;

        color: #333;
        &:hover {
            background: #333;
            color: #ffd49f;
        }
        div {
            width: 30px;
            height: 44px;
            text-align: center;
        }
        p {
            font-size: 0.8em;
        }
    }
}