.home_poster {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .background-wrapper {
        flex-direction: column-reverse;
        display: flex;
        height: 100%;
        video {
            object-fit: cover;
            max-width: 100%;
            min-height: 100%;
            min-width: 1200px;
        }
    }
}