.character-slider-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
    .carousel-container {
        .carousel-btn {
            &.next {
                right: -4rem;
            }
            &.prev {
                left: -4rem;
            }
        }
    }
    .avatar {
        margin-left: 30px;
    }
}