.home_city-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17.33rem;
    overflow: hidden;
    cursor: pointer;
    @media screen and (max-width: 1200px) {
        height: 15rem;
    }
    .city-background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        transition: transform 0.4s 0s ease-out;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0,0,0,0.4);
            opacity: 1;
        }
    }
    .city-name {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 2.667rem;
        font-weight: 600;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        color: #fff;
        background: url(../assets/city/rhombus-icon.png) no-repeat center;
        background-size: auto 50%;
        .name::after {
            position: absolute;
            content: '';
            height: 0.667rem;
            width: 100%;
            top: 60%;
            left: 0;
            opacity: 0;
            background: url(../assets/city/under-line.png) no-repeat center;
            background-size: contain;
        }
    }
    .city-character {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 0.5rem solid #fff;
        background-size: 64rem 17.33rem;
        background-repeat: no-repeat;
        background-position: calc(50% + 24rem) 50%;
        opacity: 0;
        transition: 0.4s 0s ease-out;
        z-index: 2;
        @media screen and (max-width: 1200px) {
            background-size: 55rem 15rem;
            background-position: calc(50% - 15rem);
        }
        @media screen and (max-width: 500px) {
            background-position: calc(80% - 4rem);
        }
    }

    &:hover {
        .city-background {
            transform: scale(1.05);
        }
        .city-background::before {
            opacity: 0.5;
        }
        .name::after {
            opacity: 1;
        }
        .city-character {
            opacity: 1;
        }
    }
}