.character-navigator {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    padding-top: 12.5rem;
    z-index: 1;
    .navigator-wrapper::after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 2px;
        margin-left: 1.45rem;
        background-color: rgba(255,255,255,0.14);
    }
    .navigate-button {
        line-height: 2.5;
        a {
            display: block;
            background: left center no-repeat;
            background-image: url(../assets/navigator/none-active-icon.png);
            background-size: contain;
            &.active {
                background-image: url(../assets/navigator/active-icon.png);
            }
            p {
                padding-left: 3rem;
                text-shadow: 0 2px 6px #00000059;
                color: #fff;
                font-size: 1.5rem;
            }
        }
    }
}