.header_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    .nav-button {
        margin: 15px;
        cursor: pointer;
        transition: 0.25s;
        &:hover {
            text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
            color: #fff;
        }
        &.more-item {
            display: block;
            @media screen and (max-width: 1400px) {
                display: none;
            }
        }
    }
    .nav-button--explore {
        display: flex;
        align-items: center;
        &::after {
            content: '';
            margin-top: 6px;
            margin-left: 10px;
            border: 4.5px solid transparent;
            border-top: 5px solid #fff;
        }
    }
    .sub-list-wrapper {
        &:hover .sub-list {
            opacity: 0.9;
            pointer-events: all;
            transition: 0.2s ease-in;
        }
        .sub-list {
            position: absolute;
            width: 210px;
            background: #2d2c2e;
            color: #fff;
            opacity: 0;
            transition: 0.2s ease-in 0.2s;
            pointer-events: none;
            .sub-items {
                display: block;
                padding: 10px 25px;
                cursor: pointer;
                padding: 17px 15px;
                &:hover {
                    background: #3f3e40;
                }
            }
        }
    }
    #more-menu {
        display: none;
        @media screen and (max-width: 1400px) {
            display: block;
        }
    }
}
.header_nav-pointer {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background: rgb(105, 224, 255);
    transition: 0.2s ease-out;
}