.home_header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    height: 65px;

    background-color: rgba(17,17,17,0.75);
    color: #d0d0d0;
    box-shadow: 0 3px 7px 0 #00000047;

    font-size: 16px;
    .music-box {
        width: 30px;
        height: 30px;
        margin-left: 70px;
        cursor: pointer;
    }
    .logo {
        height: 100%;
        margin: 0 -55px 0 -70px;
        pointer-events: none;
    }
    .space {
        flex: 1;
    }
    .login {
        display: flex;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;
        @media screen and (max-width: 1200px) {
            display: none;
        }
        .icon {
            margin-left: 18px;
            width: 28px;
            height: 28px;
            opacity: 0.6;
        }
        &:hover {
            color: #fff;
            .icon {
                opacity: 1;
            }
        }
    }
    .download {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100%;

        text-align: center;
        font-size: 1.5em;
        letter-spacing: 3px;
        font-weight: 600;

        color: #554528;
        background-color: rgb(255, 207, 13);

        @media screen and (max-width: 1200px) {
            width: 120px;
            height: 60%;
            border-radius: 4px;

            font-size: 1em;
            letter-spacing: 2px;
        }
    }
    img {
        width: 100%;
        height: 100%;
    }
    .hamburger {
        display: none;
        position: relative;
        width: 40px;
        height: 40px;
        margin: 0 15px;
        cursor: pointer;
        appearance: none;
        background: transparent;
        align-self: center;

        @media screen and (max-width: 1200px) {
            display: block;
        }
    }
    .hamburger .bar, .hamburger::before, .hamburger::after {
        content: '';
        display: block;
        width: 70%;
        height: 4px;
        border-radius: 8px;
        margin: 5px 0;

        background: #fff;
        box-shadow: 0px 0px 1px 0px #c5c5c5;

        opacity: 1;
        transition: 0.4s;
    }
    .hamburger:hover .bar, .hamburger:hover::before, .hamburger:hover::after {
        box-shadow: 0px 0px 4px 0px #c5c5c5;
    }
    .hamburger.is-active .bar {
        opacity: 0;
    }
    .hamburger.is-active::before {
        transform:  rotate(45deg) translate(9px, 4.5px);
    }
    .hamburger.is-active::after {
        transform: rotate(-45deg) translate(8px, -4px);
    }
}