.recommend {
    max-width: 1280px;
    margin: 0 auto;
    .wrapper {
        height: 700px;
        padding-top: 10rem;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 700px;
            width: 100%;
            background: url(../assets/recommend/5d86b58.jpg);
        }
        .news-block-container {
            display: flex;
            align-self: center;
            justify-content: space-between;
        }
        .news-block-carousel {
            display: flex;
            justify-content: center;
            .item-wrapper {
                & > * {
                    width: 420px;
                    height: 34rem;
                    margin: 0 auto;
                }
            }
            .carousel-swiper-pagination-wrapper {
                bottom: -4.5rem;
                .swiper-pagination-bullet {
                    height: 1rem;
                    width: 1rem;
                    margin: 0.8rem;
                    background: #fff;
                }
            }
        }
    }
}