.carousel-container {
    position: relative;
    height: 100%;
    width: 100%;
    .carousel-outer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .carousel-inner {
            display: flex;
            align-items: center;
            //transition: 0.3s ease-out;
        }
    }
    .carousel-swiper-pagination-wrapper {
        position: absolute;
        bottom: 10px;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .swiper-pagination-bullet {
            width: 1.2rem;
            height: 1.2rem;
            margin: 0 0.3rem;
            border-radius: 50%;
            border: 0.2rem solid #fff;
            background: transparent;
            opacity: 0.5;
            cursor: pointer;
            &.is-active {
                background: #fff;
                opacity: 1;
            }
        }
    }
    .carousel-btn {
        position: absolute;
        top: 50%;
        width: 1rem;
        height: 1.8rem;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
    .carousel-btn.next {
        right: 1.5rem;
        background-image: url(./assets/next.png);
    }
    .carousel-btn.prev {
        left: 1.5rem;
        transform: rotateY(180deg);
        background-image: url(./assets/next.png);
    }
}