.home_news-section {
    padding: 200px 0;
    background: url(../assets/news/background.jpg) no-repeat center/cover;
    font-size: 50px;
    .news-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        .title {
            font-size: 1.2em;
            font-weight: 400;
            color: #fff;
        }
        .frame {
            display: flex;
            justify-content: center;
            align-self: center;
            margin: 0 30px;
            height: 18px;
            width: 385px;
            img {
                vertical-align: middle;
                height: 100%;
                width: 100%;
            }
        }
    }
    .news-container {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 400px;
        .news-wrapper {
            width: 640px;
            height: 100%;
            padding: 40px 20px;

            font-size: 0.5em;

            background: rgba(38,18,12,0.62);
        }
    }
}