.home_news-section {
    padding: 10.66rem 0 12.66rem;
    background: url(../assets/news/background.jpg) no-repeat center/cover;
    @media screen and (max-width: 1200px) {
        padding: 4rem 0 6rem;
    }
    .news-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        .title {
            font-size: 4rem;
            font-weight: 400;
            color: #fff;
            @media screen and (max-width: 1200px) {
                font-size: 3rem;
            }
            @media screen and (max-width: 500px) {
                font-size: 2.5rem;
            }
        }
        .frame {
            display: flex;
            justify-content: center;
            align-self: center;
            margin: 0 1.5rem;
            width: 25rem;
            @media screen and (max-width: 500px) {
                margin: 0.5rem;
            }
            img {
                vertical-align: middle;
                height: 100%;
                width: 100%;
            }
        }
    }
    .news-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 1.5rem;
        .news-wrapper {
            display: flex;
            flex-flow: column;
            justify-content: center;
            max-width: 640px;
            height: 100%;
            padding: 18px 20px;

            font-size: 1.66rem;

            background: rgba(38,18,12,0.62);
            .header {
                color: #ffd49f;
                border-bottom: 3px solid rgba(255,255,255,0.1);
                .title {
                    position: relative;
                    display: inline-block;
                    padding: 0 15px;
                    text-decoration: none;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background: #ffd49f;
                    }
                }
            }
            .news {
                .new-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 8px;

                    border-bottom: 2px solid rgba(255,255,255,0.1);

                    text-decoration: none;
                    font-size: 0.8em;
                    &:hover {
                        background: rgba(255,212,159,0.06);
                    }
                    .title {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1; /* number of lines to show */
                        -webkit-box-orient: vertical;
                        color: #fff;
                    }
                    .date {
                        min-width: 100px;
                        margin-left: 10px;
                        color: rgba(255, 255, 255, 0.35);
                        font-size: 0.9em;
                        text-align: end;
                    }
                }
            }
            .more-button {
                display: flex;
                align-self: flex-end;
                align-items: center;
                padding: 0 8px;
                padding-left: 35px;
                color: rgba(255,255,255,0.75);
                font-size: 0.9em;
                background: url(../assets/news/plus-icon.png) no-repeat left center;
                &:hover {
                    background: url(../assets/news/plus-icon-hover.png) no-repeat left center;
                    color: rgba(255,212,159,0.75);
                }
            }
        }
    }
}